@font-face{
font-family: billy;
src: url(../fonts/font.otf);
}
*{
	margin: 0;
	padding: 0;
}
body{
		overflow-x:hidden;
		background: #CCC;
	}

@media (min-width: 1200px ){
	.logo-img{
		height: auto;
		width: 100%;	
	}
	.logo-text{
		position: fixed;
		top:0;
		left:0;
		padding: 10px 0 10px 20px;
		font-size: 100px;
		width:100%;
		clear: both;
		background: rgba(0,0,0,0.4);
	}
	
	
	.btn-orcamento{
		position: fixed;
		top: 20px;
		right: 10px;
		padding: 5px;
		font-size: 18px;
		font-family: monospace;	
	}

	.menu{
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		clear: both;
		background: rgba(0,0,0,0.4);
		height: 60px;
	}
	.menu-item{
		padding:1%;
		height: 100%;
		width: 17%;
		margin: 0 2.5% 0 2.5%;
		background: red;
		float: left;
		font-family: monospace;
		font-size: 30px;
		cursor:pointer;	
	}
	body{
		padding-bottom: 60px;
	}
	footer{
		font-family: monospace;
		font-size: 24px;
		text-align: center;
	}


}

@media (min-width: 700px) and (max-width: 1199.9px){
	.logo-img{
		height: auto;
		width: 100%;	
	}
	.logo-text{

		position: fixed;
		top:40.1px;
		left:0;
		padding: 10px 0 10px 20px;
		font-size: 100px;
		width:100%;
		clear: both;
		background: rgba(0,0,0,0.4);
	}
	
	
	.btn-orcamento{
		position: fixed;
		top: 80px;
		right: 10px;
		padding: 5px;
		font-size: 18px;
		font-family: monospace;	
	}

	.menu{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		clear: both;
		background: rgba(0,0,0,0.7);
		height: 40px;
	}
	.menu-item{
		padding:1%;
		height: 100%;
		width: 17%;
		margin: 0 2.5% 0 2.5%;
		background: red;
		float: left;
		font-family: monospace;
		font-size: 20px;
		cursor:pointer;	
	}
	body{
		padding-bottom: 60px;
	}
	footer{
		font-family: monospace;
		font-size: 24px;
		text-align: center;
	}


}

@media (max-width: 699.99px){
	.logo-img{
		height: auto;
		width: 100%;	
	}
	.logo-text{
		position: fixed;
		top:0px;
		left:0;
		padding: 10px 0 10px 20px;
		font-size: 70px;
		width:100%;
		clear: both;
		text-align: center;
	}
	
	
	.btn-orcamento{	
		text-align: center;
		position:fixed;
		bottom: 0;
		left: 0;
		width: 100%;	
		padding: 5px;
		font-size: 18px;
		font-family: monospace;	
		clear: both;
	}

	.menu{
		width: 100%;
		clear: both;
		background: rgba(0,0,0,0.7);
		height: 160px;
	}
	.menu-item{
		padding:1%;
		margin-top: 5px;
		height: 25px;
		width: 100%;
		background: red;
		float: left;
		font-family: monospace;
		font-size: 20px;
		cursor:pointer;	
	}
	body{
		padding-bottom: 60px;
	}
	footer{
		font-family: monospace;
		font-size: 14px;
		text-align: center;
	}


}


.logo-img{
	z-index: 1; 
	
}
.logo-text{
	z-index:2;
	font-family: 'billy',monospace;
	color: #FFF;
}
.btn-orcamento{
	z-index: 3;
	background: #9DC;
	border-bottom:3px solid #000;
	border-radius: 10px; 
	border-bottom-right-radius:0px;
	border-bottom-left-radius: 0px;
	text-decoration: none; 
	color: #000;
}
.btn-orcamento:hover{
	border-color: #FFF;
}
.menu{
	z-index: 40;
	list-style: none;
	text-align: center;	
}
.menu-item{
	text-decoration: none;
	color: #FFF;
	background: rgba(255,255,255,0.5);
}
footer{
	text-align: center;
	background: rgba(0,0,0,0.5)	
}


/*CONTATO*/
@media (min-width: 200px ){
	#contato-container{
		padding: 20px;
		text-align: center;
	}
	#contato-container h1, #contato-container p{
		line-height: 30px;
	}
}



#contato-container{
	font-family: monospace;		
	}

/*Modelos*/
@media (min-width: 1200px ){
	#modelos-container{
		width: 100%;
		padding: 5px;
		text-align: center;
		list-style: none;
		clear: both;
		height: 950px;

	}
	#modelos-container 	li{
		width: 30%;
		margin: 1%;
		height: 300px;
		float: left;
	}
	#modelos-container li img{
		width: 100%;
		height: 80%;
	}
	#mapa{
		width: 100%;
		height: 600px;
	}
}
@media (max-width: 1199.9px){
	#modelos-container{
		width: 100%;
		padding: 5px;
		text-align: center;
		list-style: none;
		clear: both;
		height: auto;
		border-top: 10px solid #D32;
		margin-top: 30px;

	}
	#modelos-container 	li{
		width: 100%;
		margin: 1%;
		height: auto;
		clear: both
	}
	#modelos-container li img{
		width: 100%;
		height: 80%;
	}
	#mapa{
		width: 100%;
		height: 300px;
	}
}
/*
@media(max-width: 699.9px){
	body{
		display: none;
	}
}
*/